<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        .navbar
        {
            margin-bottom: 20px;
        }
        body
        {
          background-color:white;
        }
        .main
        {
          border-radius: 113px 10px 140px 10px;
        }
        .jumbotron
        {
          background-color:white;
        }
        .c
        {
          border-radius: 1px 42px 1px 42px;
          background-color: rgb(255, 255, 255);
          box-shadow:2px 2px 15px 0 rgba(46,61,73,.4);
        }
        .post:hover
        {
           width:600px;
        }
        .card:hover
        {
          filter:blur(0px);
          transform:scale(1.1);
          opacity: 1;
        }
        .card
        {
          transition: 0.5s;
        }
    </style>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body>
    <nav  style="box-shadow:2px 2px 15px 0 rgba(46,61,73,.4)" class="navbar navbar-expand-sm navbar-dark bg-primary sticky-top">
        <div class="container">
        <a class="navbar-brand" href="/">Major Project</a>
    </div>
      </nav>